.navbar {
    text-align: center;
    h1 {
        font-family: 'Cinzel', serif;
        font-size: 40px;
        color: 'white';
    }
    ul {
        text-decoration: none;
        list-style: none;
    }
}