.navbar {
    margin: auto;
    margin-bottom: 15vh;
    text-align: center;
    max-width: 50vw;
    h1 {
        font-family: 'Cinzel', serif;
        letter-spacing: 5px;
        font-size: 60px;
        color: white;
    }
    ul {
        font-family: 'Cinzel', serif;
        font-family: 'Cardo', serif;
        font-size: 40px;
        text-decoration: none;
        list-style: none;
        display: flex;
        justify-content: space-around;
        a {
            color: white;
            text-decoration: none;
            transition: all .2s ease-in-out; 
        }
        a:hover {
            text-decoration: underline;
            transform: scale(1.3);
            -webkit-transform: scale(1.3);
            -ms-transform: scale(1.3);
        }
    }
}